List then eleminate algorithm

In [2]:
import pandas as pd
data = pd.read_csv("enjoysport.csv")
data.head(10)
print (data)

def package_hypothesis(hypothesis, outcome):
    ln = dict()
    ln['hypothesis'] = hypothesis
    ln['outcome'] = outcome
    return ln

#Test hypothesises
h1 = package_hypothesis(["?","?","normal","?","?"],"yes")
h2 = package_hypothesis(["sunny","high","?","?","?"],"yes")
h3 = package_hypothesis(["rainy","?","ok","?","?"],"no")
h4 = package_hypothesis(["rainy","warm","high","?","?"],"yes")
h5 = package_hypothesis(["?","cold","?","cool","?"],"no")
h6 = package_hypothesis(["?","?","?","cool","?"],"yes")

     sky air temp humidity    wind water fourcast enjoy spot
0  sunny     warm   normal  strong  warm     same        yes
1  sunny     warm     high  strong  warm     same        yes
2  Rainy     cold     high  strong  warm   change         no
3  sunny     warm     high  strong  cold   change        yes

In [3]:
def compare(values, hypo):
    for i in range(len(values)):
        if(hypo[i] != "?"):
            if(values[i] != hypo[i]):
                return False
            return True

In [4]:
def list_then_eliminate(data, *hypothesis):
    consistent_space = []
    inconsistent_space = []
    
    for hyp in hypothesis:
        state = True
        for i in range(data.shape[0]):
            if(hyp['outcome'] == data.iloc[i,-1]):
                if( not compare(hypo = hyp['hypothesis'], values = list(data.iloc[i,:-1])[:-1])):
                    inconsistent_space.append(hyp) 
                    state = False
                    break
            if(state):
                consistent_space.append(hyp)
    return (inconsistent_space, consistent_space)
 
print (list_then_eliminate(data, h1,h2,h3,h4,h5,h6))

([{'hypothesis': ['?', '?', 'normal', '?', '?'], 'outcome': 'yes'}, {'hypothesis': ['rainy', '?', 'ok', '?', '?'], 'outcome': 'no'}, {'hypothesis': ['rainy', 'warm', 'high', '?', '?'], 'outcome': 'yes'}, {'hypothesis': ['?', '?', '?', 'cool', '?'], 'outcome': 'yes'}], [{'hypothesis': ['?', '?', 'normal', '?', '?'], 'outcome': 'yes'}, {'hypothesis': ['sunny', 'high', '?', '?', '?'], 'outcome': 'yes'}, {'hypothesis': ['sunny', 'high', '?', '?', '?'], 'outcome': 'yes'}, {'hypothesis': ['sunny', 'high', '?', '?', '?'], 'outcome': 'yes'}, {'hypothesis': ['sunny', 'high', '?', '?', '?'], 'outcome': 'yes'}, {'hypothesis': ['rainy', '?', 'ok', '?', '?'], 'outcome': 'no'}, {'hypothesis': ['rainy', '?', 'ok', '?', '?'], 'outcome': 'no'}, {'hypothesis': ['?', 'cold', '?', 'cool', '?'], 'outcome': 'no'}, {'hypothesis': ['?', 'cold', '?', 'cool', '?'], 'outcome': 'no'}, {'hypothesis': ['?', 'cold', '?', 'cool', '?'], 'outcome': 'no'}, {'hypothesis': ['?', 'cold', '?', 'cool', '?'], 'outcome': 'no'}])

In [5]:
data.describe()

          sky air temp humidity    wind water fourcast enjoy spot
count       4        4        4       4     4        4          4
unique      2        2        2       1     2        2          2
top     sunny     warm     high  strong  warm     same        yes
freq        3        3        3       4     3        2          3

In [6]:
data.head()

     sky air temp humidity    wind water fourcast enjoy spot
0  sunny     warm   normal  strong  warm     same        yes
1  sunny     warm     high  strong  warm     same        yes
2  Rainy     cold     high  strong  warm   change         no
3  sunny     warm     high  strong  cold   change        yes

In [7]:
data.tail()

     sky air temp humidity    wind water fourcast enjoy spot
0  sunny     warm   normal  strong  warm     same        yes
1  sunny     warm     high  strong  warm     same        yes
2  Rainy     cold     high  strong  warm   change         no
3  sunny     warm     high  strong  cold   change        yes